*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// body{
//   // background-color: red;
// }
.card{

  .card__section1{
    background-image: url("/assets/images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    position: relative;

    .card__picture1{
      position: absolute;
      top:30px;
      left:70px;
      width: 340px;
      height: 155px;
      background-image: url(/assets/images/bg-card-back.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .card__picture2{
      display: none;
      .card__front{
        position: absolute;
        width: 50%;
      }
    }
  }
}