@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

@media (min-width: 62rem) {
  .card {
    display: flex;
  }
}
.card .card__section1 {
  background-image: url("/assets/images/bg-main-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 62rem) {
  .card .card__section1 {
    background-image: url("/assets/images/bg-main-desktop.png");
    height: 100vh !important;
    width: 27.5625rem;
  }
}
.card .card__section1 .card__picture1 {
  position: absolute;
  z-index: 1;
  border-radius: 0.3125rem;
  transform: translate(1.5625rem, 0rem);
  width: 18.75rem;
  height: 10.625rem;
  background-image: url("/assets/images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 37.5rem) and (max-width: 62rem) {
  .card .card__section1 .card__picture1 {
    transform: translate(6.25rem, 0.625rem);
    width: 400zpx;
    height: 13.75rem;
  }
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture1 {
    width: 15rem;
    height: 9.375rem;
    transform: translate(0.875rem, 0.625rem);
  }
}
@media (min-width: 62rem) {
  .card .card__section1 .card__picture1 {
    transform: translate(12.1875rem, 7.1875rem) !important;
    width: 25rem;
    height: 14rem;
  }
}
.card .card__section1 .card__picture1 .card__text1 {
  position: relative;
  transform: translate(14.8125rem, 4.5625rem);
  color: hsl(270deg, 3%, 87%);
  display: inline-block;
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture1 .card__text1 {
    transform: translate(12.1875rem, 4rem) !important;
    display: inline-block;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section1 .card__picture1 .card__text1 {
    transform: translate(19.875rem, 6.125rem) !important;
    font-size: 1rem;
    display: inline-block;
  }
}
.card .card__section1 .card__picture2 {
  position: absolute;
  z-index: 2;
  border-radius: 0.3125rem;
  transform: translate(-1.625rem, 6rem);
  width: 18.75rem;
  height: 10.625rem;
  background-image: url("/assets/images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 37.5rem) and (max-width: 62rem) {
  .card .card__section1 .card__picture2 {
    transform: translate(-2.5rem, 8.4375rem);
    width: 25rem;
    height: 13.75rem;
  }
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture2 {
    transform: translate(-0.9375rem, 5.9375rem);
    width: 15rem;
    height: 9.375rem;
  }
}
@media (min-width: 62rem) {
  .card .card__section1 .card__picture2 {
    transform: translate(7.25rem, -9.375rem) !important;
    width: 25rem;
    height: 14rem;
  }
}
.card .card__section1 .card__picture2 .card-logo {
  width: 3.75rem;
  position: relative;
  transform: translate(1.25rem, 1.25rem);
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture2 .card-logo {
    width: 3.125rem !important;
  }
}
@media (min-width: 62rem) {
  .card .card__section1 .card__picture2 .card-logo {
    width: 4.8125rem !important;
  }
}
.card .card__section1 .card__picture2 .numberBlock {
  display: flex;
  justify-content: center;
}
.card .card__section1 .card__picture2 .numberBlock .card__text2 {
  display: inline-block;
  color: hsl(270deg, 3%, 87%);
  font-size: 1.2rem;
  width: 15.6875rem;
  height: 1.75rem;
  position: relative;
  transform: translateY(3.75rem);
  font-weight: 500;
  text-align: start;
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture2 .numberBlock .card__text2 {
    letter-spacing: 0.125rem;
    font-size: 1rem;
    width: 13.5rem;
    height: 1.25rem;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section1 .card__picture2 .numberBlock .card__text2 {
    letter-spacing: 0.1875rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 20.25rem !important;
  }
}
.card .card__section1 .card__picture2 .card-details {
  display: inline-block;
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: hsl(270deg, 3%, 87%);
  position: relative;
  transform: translatey(4.6875rem);
}
@media (max-width: 22.5rem) {
  .card .card__section1 .card__picture2 .card-details {
    padding: 0 1rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section1 .card__picture2 .card-details {
    padding: 0 2.5rem !important;
    margin-top: 1.2rem;
  }
}
.card .card__section2 {
  padding: 8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 22.5rem) {
  .card .card__section2 {
    padding: 8rem 1rem !important;
  }
}
@media (min-width: 62rem) {
  .card .card__section2 {
    width: 63%;
  }
}
@media (max-width: 62rem) and (min-width: 37.5rem) {
  .card .card__section2 {
    padding: 12rem 2rem !important;
  }
}
@media (min-width: 62rem) and (max-width: 73.4375rem) {
  .card .card__section2 {
    justify-content: end !important;
  }
}
.card .card__section2 label {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  color: hsl(278deg, 68%, 11%);
}
.card .card__section2 ::-moz-placeholder {
  color: rgb(211, 205, 205);
}
.card .card__section2 :-ms-input-placeholder {
  color: rgb(211, 205, 205);
}
.card .card__section2 ::placeholder {
  color: rgb(211, 205, 205);
}
.card .card__section2 form .first-input-container, .card .card__section2 form .second-input-container {
  height: 6.8125rem;
}
.card .card__section2 form #name {
  width: 311px;
  height: 2.8125rem;
  margin: 0.5rem 0 1.1rem;
  padding-left: 0.6rem;
  font-size: 1.1rem;
  color: hsl(279deg, 6%, 55%);
  border: 0.0313rem solid hsl(279deg, 6%, 55%);
  border-radius: 0.3125rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form #name {
    width: 15.625rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section2 form #name {
    width: 21.875rem !important;
  }
}
.card .card__section2 form #card-number {
  width: 19.4375rem;
  height: 2.8125rem;
  margin: 0.5rem 0 1.1rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  text-align: start;
  color: hsl(279deg, 6%, 55%);
  border: 0.0313rem solid hsl(279deg, 6%, 55%);
  border-radius: 0.5rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form #card-number {
    width: 15.625rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section2 form #card-number {
    width: 21.875rem !important;
  }
}
.card .card__section2 form .card__date-cvc-label {
  width: 11.875rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form .card__date-cvc-label {
    width: 11.25rem !important;
  }
}
.card .card__section2 form .card__date-cvc-input {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1.1rem;
  width: 19.6875rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form .card__date-cvc-input {
    width: 15.625rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section2 form .card__date-cvc-input {
    width: 21.875rem !important;
  }
}
.card .card__section2 form .card__date-cvc-input #month {
  width: 4.9375rem;
  height: 2.8125rem;
  font-size: 1.1rem;
  text-align: center;
  border: 0.0313rem solid hsl(279deg, 6%, 55%);
  border-radius: 0.5rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form .card__date-cvc-input #month {
    width: 3.75rem !important;
  }
}
.card .card__section2 form .card__date-cvc-input #year {
  width: 79px;
  height: 2.8125rem;
  font-size: 1.1rem;
  text-align: center;
  border: 0.0313rem solid hsl(279deg, 6%, 55%);
  border-radius: 0.5rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form .card__date-cvc-input #year {
    width: 3.75rem !important;
  }
}
.card .card__section2 form .card__date-cvc-input #cvc {
  padding-left: 0.6rem;
  font-size: 1.1rem;
  width: 8.4375rem;
  height: 2.8125rem;
  border: 0.0313rem solid hsl(279deg, 6%, 55%);
  border-radius: 0.5rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form .card__date-cvc-input #cvc {
    width: 7.5rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section2 form .card__date-cvc-input #cvc {
    width: 10.0625rem !important;
  }
}
.card .card__section2 form #btn {
  all: unset;
  color: hsl(270deg, 3%, 87%);
  background-color: hsl(278deg, 68%, 11%);
  width: 19.4375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
@media (max-width: 22.5rem) {
  .card .card__section2 form #btn {
    width: 15.625rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card .card__section2 form #btn {
    width: 21.875rem !important;
    height: 3.125rem !important;
  }
}

.error-name {
  position: relative;
  top: -0.9375rem;
  color: hsl(0deg, 100%, 66%);
  font-size: 0.8125rem;
}

.error-card-no {
  position: relative;
  position: relative;
  top: -0.9375rem;
  color: hsl(0deg, 100%, 66%);
  font-size: 0.8125rem;
}

.error-date-cvc {
  font-size: 0.6875rem;
  display: flex;
  color: hsl(0deg, 100%, 66%);
  width: 19.4375rem;
}
@media (max-width: 22.5rem) {
  .error-date-cvc {
    width: 15.625rem !important;
    font-size: 0.5625rem;
  }
}
@media (min-width: 37.5rem) {
  .error-date-cvc {
    width: 21.875rem !important;
  }
}
.error-date-cvc .error-month {
  position: relative;
  transform: translate(0, -0.8125rem);
  width: 4.875rem;
  height: 0.8125rem;
}
@media (max-width: 22.5rem) {
  .error-date-cvc .error-month {
    width: 3.875rem !important;
  }
}
.error-date-cvc .error-year {
  position: relative;
  transform: translate(0.8125rem, -0.8125rem);
  width: 5.25rem;
  height: 0.8125rem;
}
@media (max-width: 22.5rem) {
  .error-date-cvc .error-year {
    transform: translate(0.3125rem, -0.8125rem) !important;
    width: 3.875rem;
  }
}
@media (min-width: 37.5rem) {
  .error-date-cvc .error-year {
    transform: translate(1.1875rem, -0.8125rem);
  }
}
.error-date-cvc .error-cvc {
  width: 6.5rem;
  height: 0.8125rem;
  position: relative;
  transform: translate(1.875rem, -0.8125rem);
}
@media (max-width: 22.5rem) {
  .error-date-cvc .error-cvc {
    transform: translate(0.75rem, -0.8125rem) !important;
    width: 5.25rem;
  }
}
@media (min-width: 37.5rem) {
  .error-date-cvc .error-cvc {
    transform: translate(2.375rem, -0.8125rem);
  }
}

@-webkit-keyframes anim {
  10% {
    transform: translateY(1.25rem);
  }
  30% {
    transform: translateY(0.625rem);
  }
  50% {
    transform: translateY(1.25rem);
  }
  70% {
    transform: translateY(0.625rem);
  }
}

@keyframes anim {
  10% {
    transform: translateY(1.25rem);
  }
  30% {
    transform: translateY(0.625rem);
  }
  50% {
    transform: translateY(1.25rem);
  }
  70% {
    transform: translateY(0.625rem);
  }
}
.card__complete-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 62rem) and (max-width: 73.4375rem) {
  .card__complete-state {
    justify-content: end !important;
  }
}
.card__complete-state .complete-icon {
  width: 100%;
}
.card__complete-state .complete-state-thanku {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1875rem;
  margin: 1.5rem 0 1rem;
}
.card__complete-state .complete-state-text {
  font-size: 0.9rem;
  color: hsl(279deg, 6%, 55%);
}
.card__complete-state .complete-state-Btn {
  all: unset;
  color: hsl(270deg, 3%, 87%);
  background-color: hsl(278deg, 68%, 11%);
  width: 19.4375rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  margin: 2.5rem 0;
}
@media (max-width: 22.5rem) {
  .card__complete-state .complete-state-Btn {
    width: 15.625rem !important;
  }
}
@media (min-width: 37.5rem) {
  .card__complete-state .complete-state-Btn {
    width: 21.875rem !important;
  }
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */