@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

//primary
$Red-errors: hsl(0, 100%, 66%);
$activeInputBorder: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));

//neutral
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

.card{
  
  @media (min-width:992px) {
    display: flex;
  }

  .card__section1{
    background-image: url("/assets/images/bg-main-mobile.png");
    @media (min-width:992px) {
      background-image: url('/assets/images/bg-main-desktop.png');
      height: 100vh !important;
      width: 441px;
    }
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .card__picture1{
      position: absolute;
      z-index: 1;
      border-radius: 5px;
      transform: translate(25px,0px);
      width: 300px;
      height: 170px;
      background-image: url('/assets/images/bg-card-back.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width:600px) and (max-width:992px) {
        transform: translate(100px,10px);
        width: 400px;
        height: 220px;
      }

      @media (max-width:360px) {
        width: 240px;
        height: 150px;
        transform: translate(14px,10px);
      }

      @media (min-width:992px) {
        transform: translate(195px, 115px) !important;
        width: 400px;
        height: 224px;
      }

     
      .card__text1{
        position: relative;
        transform: translate(237px,73px);
        color:$Light-grayish-violet;
        display: inline-block;

        @media (max-width:360px){
          transform: translate(195px, 64px) !important;
          display: inline-block;
        }

        @media (min-width:600px) 
        {
          transform: translate(318px, 98px) !important;
          font-size: 1rem;
          display: inline-block;
        }
      }
    }
    .card__picture2{
      position: absolute;
      z-index: 2;
      border-radius: 5px;
      transform: translate(-26px,96px);
      width: 300px;
      height: 170px;
      background-image: url('/assets/images/bg-card-front.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width:600px) and (max-width:992px) {
        transform: translate(-40px,135px);
        width: 400px;
        height: 220px;
      }
      @media (max-width:360px) {
        transform: translate(-15px,95px);
        width: 240px;
        height: 150px;
      }

      @media (min-width:992px) {
        transform: translate(116px, -150px) !important;
        width: 400px;
        height: 224px;
      }


      .card-logo{
        width:60px;
        position: relative;
        transform: translate(20px,20px);

        @media (max-width:360px) {
          width:50px !important;
        }
        @media (min-width:992px) {
          width:77px !important;
        }
      }
      .numberBlock{
        display: flex;
        justify-content: center;
        .card__text2{
          display: inline-block;
          color: $Light-grayish-violet;
          // letter-spacing: 4px;
          font-size: 1.2rem;
          width: 251px;
          height: 28px;
          position: relative;
          transform: translateY(60px);
          font-weight: 500;
          text-align: start;
          @media (max-width:360px) {
            letter-spacing: 2px;
            font-size: 1rem;
            width: 216px;
            height: 20px;
          }
          @media (min-width:600px) 
          {
            letter-spacing: 3px;
            font-size: 1.5rem;
            margin-top: 1rem;
            width: 324px !important;
          }
      }
      
      }

      .card-details{
        display: inline-block;
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 10px; 
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $Light-grayish-violet;
        position: relative;
        transform: translatey(75px);

        @media (max-width:360px){
           padding: 0 1rem !important;
        }
        @media (min-width:600px)
         {
           padding: 0 2.5rem !important;
           margin-top: 1.2rem;
        }
       }
    }
  }

  .card__section2{
    padding:8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:360px) {
       padding:8rem 1rem !important;
   
      }
    @media (min-width:992px) {
      width: 63%;
    }
    @media (max-width:992px) and (min-width:600px) {
      padding: 12rem 2rem !important;      
    }

    @media (min-width:992px) and (max-width:1175px) {
      justify-content: end !important;
      
    }
   
    label{
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 700;
      color:$Very-dark-violet;
    }
    ::placeholder{
      color:rgb(211, 205, 205);
    }
    form{

      .first-input-container,.second-input-container{
        height:109px;
      }
      
      #name{
        width: 311px;
        height: 45px;
        margin: .5rem 0 1.1rem;
        padding-left:.6rem;
        font-size: 1.1rem;
        color:$Dark-grayish-violet;
        border: .5px solid $Dark-grayish-violet;
        border-radius: 5px;

        @media (max-width:360px) {
          width: 250px !important;
        }
        @media (min-width:600px) {
          width: 350px !important;
        }

       
      }
      #card-number{
        width: 311px;
        height: 45px;
        margin: .5rem 0 1.1rem;
        padding-left:.5rem;
        font-size: 1.1rem;
        // letter-spacing: 3px;
        text-align: start;
        color:$Dark-grayish-violet;
        border: .5px solid $Dark-grayish-violet;
        border-radius: 8px;
        @media (max-width:360px) {
          width: 250px !important;
        }
        @media (min-width:600px) {
          width: 350px !important;
        }
      }

      .card__date-cvc-label{
        width:190px;
        display: flex;
        justify-content: space-between;
        @media (max-width:360px) {
          width: 180px !important;
        }

      }
      .card__date-cvc-input{
        display: flex;
        justify-content: space-between;
        margin: .5rem 0 1.1rem;
        width: 315px;
        @media (max-width:360px) {
          width: 250px !important;
        }
        @media (min-width:600px) {
          width: 350px !important;
        }

        #month{
        width:79px;
        height: 45px;
        font-size: 1.1rem;
        text-align: center;
        border: .5px solid $Dark-grayish-violet;
        border-radius: 8px;

        @media (max-width:360px) {
          width: 60px !important;
        }
        
        }
        #year{
          width:79px;
          height: 45px;
          font-size: 1.1rem;
          text-align: center;
          border: .5px solid $Dark-grayish-violet;
          border-radius: 8px;
          @media (max-width:360px) {
            width: 60px !important;
          }
         
        }
        #cvc{
          padding-left:.6rem;
           font-size: 1.1rem;
           width: 135px;
          height: 45px;
          border: .5px solid $Dark-grayish-violet;
          border-radius: 8px;
          @media (max-width:360px) {
            width: 120px !important;
          }
          @media (min-width:600px) {
            width: 161px !important;
          }
        }
      }
      #btn{
        all: unset;
        color:$Light-grayish-violet;
        background-color: $Very-dark-violet;
        width:311px;
        height:50px;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1rem;

        @media (max-width:360px) {
          width: 250px !important;
        }
        @media (min-width:600px) {
          width: 350px !important;
          height: 50px !important;
        }
        
      }

    }
      
  }
}

// js

.error-name{
  position: relative;
  top:-15px;
  color: $Red-errors;
  font-size: 13px;
}

.error-card-no{
  position: relative;
  position: relative;
  top:-15px;
  color: $Red-errors;
  font-size: 13px;
}

.error-date-cvc{
  font-size: 11px;
  display: flex;
  color: $Red-errors;
  width: 311px;
  @media (max-width:360px) {
    width: 250px !important;
    font-size: 9px;
  }
  @media (min-width:600px) {
    width: 350px !important;
  }

  .error-month{
    position: relative;
    transform: translate(0, -13px);
    width: 78px;
    height: 13px;
    @media (max-width:360px) {
    width: 62px !important;
    }
  }

  .error-year{
    position: relative;
    transform: translate(13px, -13px);
    width: 84px;
    height: 13px;
    @media (max-width:360px) {
      transform: translate(5px, -13px) !important;
      width: 62px;
    }
    @media (min-width:600px) {
    transform: translate(19px, -13px);
    }
  }

  .error-cvc{
    width: 104px;
    height: 13px;
    position: relative;
    transform: translate(30px, -13px);
    @media (max-width:360px) {
      transform: translate(12px, -13px) !important;
      width: 84px;
    }
    @media (min-width:600px) {
      transform: translate(38px, -13px);
      // width: 104px;
    }
  }
}

@keyframes anim {
    10% {transform: translateY(20px);}
    30% {transform: translateY(10px);}
    50% {transform: translateY(20px);}
    70% {transform: translateY((10px));}
   
}

.card__complete-state{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 992px) and (max-width: 1175px){
    justify-content: end !important;
    }

  .complete-icon{
    width:100%;
  }
  .complete-state-thanku{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 1.5rem 0 1rem;
  }
  .complete-state-text{
    font-size: .9rem;
    color:$Dark-grayish-violet;
  }
  .complete-state-Btn{
        all: unset;
        color:$Light-grayish-violet;
        background-color: $Very-dark-violet;
        width:311px;
        height:50px;
        border-radius: 10px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        margin:2.5rem 0;
        @media (max-width:360px) {
          width: 250px !important;
        }
        @media (min-width:600px) {
          width: 350px !important;
        }
  }

}

.hidden{
  display: none;
}
