*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// body{
//   // background-color: red;
// }
.card{

  .card__section1{
    background-image: url("/assets/images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    position: relative;

    .card__picture1{
      position: absolute;
      z-index: 1;
      top: 30px;
      left: 60px;
      width: 300px;
      height: 170px;
      background-image: url('/assets/images/bg-card-back.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .card__picture2{
      position: absolute;
      z-index: 2;
      top: 127px;
      left: 15px;
      width: 300px;
      height: 170px;
      background-image: url('/assets/images/bg-card-front.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}